/*Global*/

/*
non-production version of zocial leads to slow load times! 
*/
@import url(http://weloveiconfonts.com/api/?family=zocial);
[class*="zocial-"]:before {
    font-family: "zocial", sans-serif;
}    * {
    box-sizing: border-box; 
    font-family: Geneva, Tahoma, Verdana, sans-serif; 
    text-decoration: none;
    color: #2d3c49;
}

.container {
    background-color: ;
}

body {
background-image: 
repeating-linear-gradient( 45deg, white, black 10px, #7dd8f1 10px, black 20px);
}

.commentor {
    color: white;
}

/*Head*/

.error {
    float: none;
    color: firebrick;
    font-size: 1.15em;
    margin-bottom: -20px;
}

.err-nav {
    float: right;
}

.title {
    text-align: right; 
}

.navs {
    text-align: left;
}

.loginstatus {
    text-align: right;
    margin-right: 10px;
}

.newpost {
    text-align: left;
}

/* Body */

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.index-comment {
    width: 90%;
    margin-top: 20px;
}

.postcontent {
    max-height: 300px;
    overflow: auto;
}

.reply-comment {
    width: 90%;
}

@media screen and (max-width: 600px) {
    .col-xs-5 {
        width: 100%; 
    }
}

.commentbox {
    max-height: 500px;
    overflow: auto;
}

/* in view */

.editlink {
    border: 1px solid;
    background-color: buttonface;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
}

.upvote {
    font-size: 1.25em;
    color: dodgerblue;
}

.seperate {
    font-size: 1.25em;
}

.downvote {
    font-size: 1.25em;
    color: firebrick;
}

.reply-view {
    width: 60%;
    margin: 20px;
}

.view-comment {
    width: 80%;
    margin: 20px;
}
.well-small {
    background-color: 0;
    margin-bottom: 0px;
    padding: 0px;
}

.reply-content {
    border-top: 0.02em solid black;
    border-bottom: 0.02em solid black; 
}

.comment-content {
    font-size: 1em;
}

.reply-content {
    font-size: 0.75em;
}

.comm_rep {
    overflow: scroll;
    max-height: 500px;
    margin-top: 15px;
}

.formm {
    float: left;
}

.label {
    color: #2d3c49;
}

.buttoninput {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.border {
    border: solid #2d3c49 0.125em;
}

a {
    text-decoration: none;
    color: #2d3c49;
}

body {
    margin-top: 85px;
    margin-bottom: 65px;
}

/*Footer */



.footer {
    background: linear-gradient(to right, rgba(192,192,192,1), rgba(0,0,0,0));
}



.social-button {
    color: #2d3c49; 
    height: 48px; 
    width: 48px;
    font-size: 2em; 
    transition: 1s; 
}


@keyframes highlight {
    0% {
        background-color: white; 
        color: #2d3c49; 
    }
    
    25% {
        background-color: #ddF5fb; 
        color: #949ba1; 
    }
    
    50% {
        background-color: #bdebF8; 
        color: #c8cccF; 
    }
    
    75% {
        background-color: #7dd8f1; 
        color: #dcdee1; 
    }
    
    100% {
        background-color: #02b3e4; 
        color: white; 
    }
}


.social-button:hover {
    border-radius: 4px; 
    animation-name: highlight; 
    animation-duration: 0.25s; 
    background-color: #02b3e4; 
    color: white; 
    text-decoration: none;
}
