<!DOCTYPE html>
<html lang="en">
{# this is the main view where the navbar and footer is rendered as well as stylesheet injection #}
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta charset="UTF-8">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />

    <!-- js jquery -->
    <script src="/js/script.js"></script>
    <title>Multi-user blog by Thomas Lopez</title>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class>
        <div class="col-xs-6">
        {% block login %}
                {% for name, link in nav %}
            <nav>
            <a href="{{ name }}" title="{{ link }}">{{ link }} </a>
          {% endfor %}
            </nav>
        </div>
        {% endblock %}
        <div class="col-xs-6">
        {% if user %}
        {% if error %}
        <div class="error err-nav">{{ error }} {{ user }} <a href="/blog/logout">Logout?</a></div>
        {% endif %}
        <br><br><div class='loginstatus'>Logged in as {{ user }}</div>
        {% endif %}
        </div>
    </div>
</div>
<div class="container">
        {% block content %}
        {% endblock content %}
</div>
    <div class="footer navbar-fixed-bottom">
    {% for class, href, title in footer %}
        <a class="{{ class }}" href="{{ href }}" title="{{ title }}"></a> 
    {% endfor %}
    </div>
    <!-- Bootstrap -->
    <script   src="https://code.jquery.com/jquery-3.1.0.slim.min.js"   integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="   crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
<!--social icons by weloveiconfonts.com -->
</html>
