{# formatted in-line for excessive whitespace generation #}
{# this is the main render for /blog #}
{% extends "index.html" %}
{% block content %}
{% for post in posts %}
<div class="row">
<div class="col-xs-12 panel panel-default">
        <h3 class="panel-heading">{{post.subject}}</h3>
            {% if error %}<div class="error">{{error}}</div>{% endif %}
        <p class="panel-body">{{post.content}}</p>
        <div>
        <a href="/blog/{{post.key().id()}}">View Post  |</a><span>  {{post.date.strftime("%b %d, %Y") | safe}}  |  by: {{post.author}}  |  </span>score: <span class="badge">{{post.upscore - post.downscore}}</span><span class="edited">{% if post.edited == True %} |   Edited: {{post.modified.strftime("%m/%d/%y")}}</span> {% endif %}
        </div>
    <div>
        {% if user %}
        <div class="label label-default"><a class="commentor" href="/blog/comment?post_id={{post.key().id()}}">Write a comment...</a></div>
        <br> {% endif %}<ul class="list-group">{% for comment in comments %}{% if post.key().id() == comment.postkey %}
        <li class="list-group-item">{{ comment.author }} says: {{ comment.comment }}</p>{% endif %}{% endfor %}</ul></div>
    </div>
</div>
{% endfor %} {% endblock content %}
